#one {
  width: 200px;
  height: 200px;
  background-color: red;
  color: aliceblue;
  border: 2px solid #0000ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.btn {
  color: #0000ff;
}
