* {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  color: brown;
  box-sizing: border-box;
  font-size: 25px;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  background-color: rgb(76, 148, 148);
}
.one {
  color: red;
  width: 400px;
  height: 400px;
  border: 2px solid red;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 2px 2px 2px;
}

button {
  padding: 5px;
  background-color: antiquewhite;
}
