* {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  color: brown;
  box-sizing: border-box;
  font-size: 25px;
}
body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  background-color: rgb(76, 148, 148);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div {
  color: red;
  width: 250px;
  height: 250px;
  border: 2px solid red;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 2px 2px;
  margin-bottom: 20px;
}

button {
  padding: 5px;
  background-color: antiquewhite;
}

h1 {
  width: 95%;
  height: 10%;
  text-align: center;
  padding-top: 25px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 5px solid red;
  border-radius: 50%;
}
