* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  border: 2px solid red;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
}
